.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "topPanel topPanel topPanel"
    "leftPanel mainPanel mainPanel"
    "leftPanel mainPanel mainPanel"
    "leftPanel mainPanel mainPanel"
    "leftPanel mainPanel mainPanel"
    "leftPanel mainPanel mainPanel"
    "leftPanel mainPanel mainPanel";
}
.topPanel {
  grid-area: topPanel;
}
.leftPanel {
  grid-area: leftPanel;
}
.mainPanel {
  grid-area: mainPanel;
}

.MainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.loginRegister {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 20px;
  align-self: flex-end;
}

.loginRegister button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.searchMeals {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.customDropdown {
  position: relative;
}

.customDropdown input {
  padding: 10px;
  width: 300px;
  position: relative;
}

.customDropdown .clearButton {
  position: absolute;
  top: 1.5em;
  right: 5px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #ad2d2d;
  font-weight: bold;
  cursor: pointer;
}

.dropdownOptions {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
}

.dropdownOptions .option {
  padding: 10px;
  cursor: pointer;
}

.dropdownOptions .option:hover {
  background-color: #f2f2f2;
}

.customDropdown > div {
  margin-top: 10px;
}
