.MainMenu {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.6fr 0.4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "ingredient myIngredients myIngredients myIngredients myIngredients Logout"
    "ingredient menu menu menu menu menu"
    "ingredient menu menu menu menu menu"
    "ingredient menu menu menu menu menu"
    "ingredient menu menu menu menu menu"
    "ingredient menu menu menu menu menu";
}
.ingredient {
  grid-area: ingredient;
}
.myIngredients {
  grid-area: myIngredients;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

.menu {
  grid-area: menu;
}

.Logout {
  grid-area: Logout;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
