.Recipe-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "top-container top-container"
    "Ingredient-container Instructions";
}
.top-container {
  grid-area: top-container;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.Ingredient-container {
  grid-area: Ingredient-container;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Instructions {
  grid-area: Instructions;
  display: flex;
}

img {
  max-width: 50vw;
  max-height: 50vw;
}
h1 {
  display: flex;
  align-content: center;
  justify-content: center;
}

.notStorage{
  position: relative;
  width: 200px;
  height: 70px;
}
.ingredient-list{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  
}

.notAvailable{
  position: absolute;
  width: 130px;
  height: 50px;
  z-index: -1;
  left: 35px;
  top:10px; 
}
