.Recipe-container {
  border: black;
  border-style: groove;
  border-radius: 5%;
  width: 80vw;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1.4fr 0.6fr;
  grid-template-rows: 1fr 1 fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Title Title Title"
    "Ingredient-container Recipe-picture Recipe-picture"
    "Ingredient-container Recipe-picture Recipe-picture"
    "Ingredient-container Recipe-picture Recipe-picture"
    "Ingredient-container Recipe-picture Recipe-picture"
    "Ingredient-container Recipe-picture Recipe-picture"
    "Ingredient-container Recipe-picture Recipe-picture"
    "Instructions Instructions Instructions"
    "Instructions Instructions Instructions";
}

.Title {
  grid-area: Title;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.Recipe-picture {
  grid-area: Recipe-picture;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Ingredient-container {
  grid-area: Ingredient-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Instructions {
  grid-area: Instructions;
  display: flex;
  margin: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top-container {
  display: flex;
}
img {
  max-width: 50vw;
  max-height: 50vw;
  border-color: black;
  border-style: groove;
}


.image-container {
  display: flex;
  align-items: center;
  
}

.image-container img {
  width: 60px;
  height: 35px;
  margin: 3%;
}
